.gradle/
build/
out/
*.iml
.idea/
.DS_Store
reports/current/
reports/history/
reports/analytics/
allure-*/
allure.zip
build/response_store.json
src/test/resources/env/*.local.properties
config/*.local.properties
